target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/java-selenium-test-automation-framework/allure-results
/java-playwright-test-automation-framework/allure-results
/java-desktop-macos-test-automation-framework/allure-results/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store