<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <patternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss} [%C{1}] - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>